.navbar {
  background-color: #6C79DB;
  border-bottom: 3px solid #FFCB05;
  padding: 0.5rem 1rem;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.nav-item {
  background-color: transparent;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: large;
  transition: color 0.3s ease-in-out;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}

.nav-link:hover,
.nav-link:focus {
  color: #FFCB05;
  text-shadow: 1px 1px 2px black;
  background-color: rgba(255, 255, 255, 0.2);
}

.active {
  color: #FF4444;
  border-bottom: 2px solid #FF4444;
}